	{% assign file = site.datafiles | where:"key", page.blog-key | first %}
	<!-- works -->
	<div class="jarallax blog" id="blog">
		<div class="container">
			<div class="w3-welcome-heading">
				<h3>{{ file.title }}</h3>
			</div>
			<div class="wthree-blog-grids">
				{% for post in site.posts %}
				<div class="col-md-6 w3-agileits-blog-grid">
					<div class="col-sm-4 blog-left">						
						<h4>{{ post.date | date: "%d/%m" }}</h4>
						<ul>
							<li>Posted : <a href="#">{{ post.author | capitalize }}</a></li>
							<li>Likes : {{ post.likes }}<li>
							<li>Comments : ({{ post.comments }})</li>
						</ul>
					</div>
					<div class="col-sm-8 blog-right">
						<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
						<p>{{ post.content }} </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				{% endfor %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //works -->