	<!-- news -->
	<div class="news" id="news">
		<div class="container">
			<div class="w3-welcome-heading">
				<h3>Events</h3>
			</div>
			<div class="w3ls-news-grids">
				<div class="news-right">
					{% for event in site.events %}
					<div class="col-md-4 news-right-grid">
						<div class="agile-news-info">
							<img src="{{site.baseurl}}/images/n1.jpg" alt=" " class="img-responsive">
							<h4><a href="#" data-toggle="modal" data-target="#myModal">{{ event.title }}</a></h4>
							<span>{{ event.date | date: "%eth %B" }} | {{ event.start }} - {{ event.end }} </span>
							<p> {{ event.content }}</p>
							<div class="agileinfo-news-button">
								<a href="#" class="hvr-shutter-in-horizontal" data-toggle="modal" data-target="#myModal">More</a>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- modal -->
				<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header"> 
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
								<h4 class="modal-title"><span>Banking</span></h4>
							</div> 
							<div class="modal-body">
								<div class="agileits-w3layouts-info">
									<img src="{{site.baseurl}}/images/g2.jpg" alt="" />
									<p>{{ event.modal_content }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- //modal --> 
		</div>
	</div>
	<!-- //news -->