    {% assign file = site.datafiles | where:"key", page.events-key | first %}
	<!-- news -->
	<div class="news" id="news">
		<div class="container">
			<div class="w3-welcome-heading">
				<h3>{{ file.title }}</h3>
			</div>
			<div class="w3ls-news-grids">
				<div class="news-right">
					{% for event in site.events %}
					<div class="col-md-4 news-right-grid">
						<div class="agile-news-info">
							<img src="{{ site.baseurl }}{{ event.img }}" alt=" " class="img-responsive">
							<h4><a href="#" data-toggle="modal" data-target="#myModal">{{ event.title }}</a></h4>
							<span>{{ event.date | date: "%eth %B" }} | {{ event.start }} - {{ event.end }} </span>
							<p> {{ event.content }}</p>
							<div class="agileinfo-news-button">
								<a href="#" class="hvr-shutter-in-horizontal" data-toggle="modal" data-target="#myModal">More</a>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- modal -->
				<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header"> 
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
								<h4 class="modal-title"><span>Banking</span></h4>
							</div> 
							<div class="modal-body">
								<div class="agileits-w3layouts-info">
									<img src="{{site.baseurl}}/assets/images/g2.jpg" alt="" />
									<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper.  Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- //modal --> 
		</div>
	</div>
	<!-- //news -->