	{% assign file = site.datafiles | where:"key", site.feedback-key | first %}
	<!-- feedback -->
	<div class="jarallax feedback" id="feedback">
		<div class="container">
			<div class="w3-welcome-heading">
				<h3>{{ file.title }}</h3>
			</div>
			<div class="agileits-feedback-grids">
				<div id="owl-demo" class="owl-carousel owl-theme">
					{% for i in (1..2) %}
					{% for message in site.feedback %}
					<div class="item">
						<div class="feedback-info">
							<div class="feedback-top">
								<p> {{ message.content }} </p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="{{ site.baseurl }}{{ message.img }}" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>{{ message.author }}</h5>
									<p>{{ message.area }}</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>	
					</div>
					{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- //feedback -->