	<script src="{{site.baseurl}}/assets/js/jarallax.js"></script>
	<script src="{{site.baseurl}}/assets/js/SmoothScroll.min.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<script type="text/javascript" src="{{site.baseurl}}/assets/js/move-top.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}/assets/js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="{{site.baseurl}}/assets/js/owl.carousel.js"></script>  

	<!--Start of Tawk.to Script-->
	<!--<script type="text/javascript">-->
	<!--	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();-->
	<!--	(function(){-->
	<!--		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];-->
	<!--		s1.async=true;-->
	<!--		s1.src='https://embed.tawk.to/59f899c6bb0c3f433d4c60ed/default';-->
	<!--		s1.charset='UTF-8';-->
	<!--		s1.setAttribute('crossorigin','*');-->
	<!--		s0.parentNode.insertBefore(s1,s0);-->
	<!--	})();-->
	<!--</script>-->
	<!--End of Tawk.to Script-->
</body>	
</html>