		<div class="header">
			<div class="container">		
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						{% assign words = site.title | split: ' ' %}
						<h1><a href="{{site.baseurl}}/index.html">{{ words[0] }} <span>{{ words[1] }}</span></a></h1>
					</div>
					<!--navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{{site.baseurl}}/index.html" class="active">Home</a></li>
							<li><a href="#about" class="scroll">About</a></li>
							<li><a href="#services" class="scroll">Services</a></li>
							<li><a href="#blog" class="scroll">Blog</a></li>
							<li><a href="#news" class="scroll">Events</a></li>
							<li><a href="#feedback" class="scroll">Feedback</a></li>
							<li><a href="#contact" class="scroll">Contact</a></li>
						</ul>	
						<div class="clearfix"> </div>	
					</div>
				</nav>
			</div>
		</div>