		<div class="header">
			<div class="container">		
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						{% assign words = site.title | split: ' ' %}
						<h1><a href="{{site.baseurl}}/index.html">{{ words[0] }} <span>{{ words[1] }}</span></a></h1>
					</div>
					<!--navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							{% for item in site.data.nav %}
							{% if forloop.first == true %}							
								<li><a href="{{ item.ref }}" class="active">{{ item.tab }}</a></li>
							{% else %}	
								<li><a href="{{ item.ref }}" class="scroll">{{ item.tab }}</a></li>
							{% endif %}	
							{% endfor %}	
						</ul>	
						<div class="clearfix"> </div>	
					</div>
				</nav>
			</div>
		</div>