	{% assign file = site.datafiles | where:"key", site.services-key | first %}
	<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<div class="w3-welcome-heading">
				<h3>{{ file.title }}</h3>
			</div>
			<div class="agileits-services-grids">
				<div class="col-md-8 agileits-services-left">
					<h4>{{ file.subtitle }}</h4>
					<div class="agileits-services-text">
						<p>{{ file.overview }}</p>
					</div>
					<div class="credit-grids">
						<h5>{{ file.sections[0].name }}:</h5>
						<div class="credit-grid-left">
							{% for item in file.sections[0].subproducts %}
							<div class="credit-grid">
								<img src="{{ site.baseurl }}{{ item.img }}" alt="" />
								<h6>{{ item.name }}</h6>
								<p>{{ item.description }}</p>
							</div>
							{% endfor %}							
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="credit-grids debit-grids">
						<h5>{{ file.sections[1].name }}:</h5>
						<div class="debit-grids-text">
							<p>{{ file.sections[1].description }}</p>
						</div>
						<div class="w3-services-grids">
																
							{% for service in site.services %}

     						<a href="{{ service.url | prepend: site.baseurl }}">
							<div class="col-md-4 w3l-services-grid">
								<div class="w3ls-services-img">
									<i class="fa {{ service.class-fa }}" aria-hidden="true"></i>
								</div>
								<div class="agileits-services-info">									
									<h4>{{ service.title }}</h4>									
								</div>								
							</div>
							</a>			

							{% endfor %}

							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileits-services-right">
					<h4>{{ file.sections[2].name }}</h4>
					<div class="services-two-grids">
						<div class="agileinfo-services-right">
							<img src="{{ site.baseurl }}{{ file.product_3.img }}" alt="" />
							<h6>{{ file.sections[2].description }}</h6>
						</div>
						<!-- date -->
						<div id="design" class="date">
							<div id="cycler">   

								{% for item in file.sections[2].features %}
								<div class="date-text">
									<a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{ item.name }} <span class="blinking"><img src="{{ site.baseurl }}/assets/images/new.png" alt="" /></span></a>
								</div>
								{% endfor %}	
								
							</div>
							<script>
								function blinker() {
									$('.blinking').fadeOut(500);
									$('.blinking').fadeIn(500);
								}
								setInterval(blinker, 1000);
							</script>
							<script>
								function cycle($item, $cycler){
									setTimeout(cycle, 2000, $item.next(), $cycler);			
									$item.slideUp(1000,function(){
										$item.appendTo($cycler).show();        
									});
								}
								cycle($('#cycler div:first'),  $('#cycler'));
							</script>
						</div>
						<!-- //date -->
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->