	<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<div class="w3-welcome-heading">
				<h3>{{ site.data.services.title }}</h3>
			</div>
			<div class="agileits-services-grids">
				<div class="col-md-8 agileits-services-left">
					<h4>{{ site.data.services.subtitle }}</h4>
					<div class="agileits-services-text">
						<p>{{ site.data.services.overview }}</p>
					</div>
					<div class="credit-grids">
						<h5>{{ site.data.services.product_1.name }}:</h5>
						<div class="credit-grid-left">
							{% for item in site.data.services.product_1.subproducts %}
							<div class="credit-grid">
								<img src="{{ site.baseurl }}{{ item.img }}" alt="" />
								<h6>{{ item.name }}</h6>
								<p>{{ item.description }}</p>
							</div>
							{% endfor %}							
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="credit-grids debit-grids">
						<h5>{{ site.data.services.product_2.name }}:</h5>
						<div class="debit-grids-text">
							<p>{{ site.data.services.product_2.description }}</p>
						</div>
						<div class="w3-services-grids">
																
							{% for service in site.services %}							

								{% if service.title == "Service One" %}  								
									{% assign fa_class = "fa-money" %}	
								{% elsif service.title == "Service Two" %} 					
									{% assign fa_class = "fa-credit-card" %}
								{% elsif service.title == "Service Three" %} 									
									{% assign fa_class = "fa-line-chart" %}
								{% endif %}														
     
     						<a href="{{ service.url | prepend: site.baseurl }}">
							<div class="col-md-4 w3l-services-grid">
								<div class="w3ls-services-img">
									<i class="fa {{ fa_class }}" aria-hidden="true"></i>
								</div>
								<div class="agileits-services-info">									
									<h4>{{ service.title }}</h4>									
								</div>								
							</div>
							</a>			

							{% endfor %}

							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileits-services-right">
					<h4>{{ site.data.services.product_3.name }}</h4>
					<div class="services-two-grids">
						<div class="agileinfo-services-right">
							<img src="{{ site.baseurl }}{{ site.data.services.product_3.img }}" alt="" />
							<h6>{{ site.data.services.product_3.description }}</h6>
						</div>
						<!-- date -->
						<div id="design" class="date">
							<div id="cycler">   

								{% for item in site.data.services.product_3.features %}
								<div class="date-text">
									<a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-arrow-right" aria-hidden="true"></i> {{ item.name }} <span class="blinking"><img src="{{ site.baseurl }}/assets/images/new.png" alt="" /></span></a>
								</div>
								{% endfor %}	
								
							</div>
							<script>
								function blinker() {
									$('.blinking').fadeOut(500);
									$('.blinking').fadeIn(500);
								}
								setInterval(blinker, 1000);
							</script>
							<script>
								function cycle($item, $cycler){
									setTimeout(cycle, 2000, $item.next(), $cycler);			
									$item.slideUp(1000,function(){
										$item.appendTo($cycler).show();        
									});
								}
								cycle($('#cycler div:first'),  $('#cycler'));
							</script>
						</div>
						<!-- //date -->
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->