{% include head.html %}

	<div class="banner">		
		{% include nav-pages.html %}
	</div>	

    <!-- Page Content -->
    <div class="container">

      <div class="row">        
      	<br>
        <div class="col-lg-12">          

          <hr>
          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{ page.img | prepend: site.baseurl }}" alt="">
          <hr>

          <h2>{{ page.title }}</h2>
          <h4>{{ page.cost }}</h4>
          <p>{{ page.description }}</p>
          <p><big>{{ page.stars }} stars</big></p>
                    
          <br>
          <h3>Product Description</h3>
            
          {% for i in (1..4) %}
            {{ page.content }}
          {% endfor %}  
                        
		      <br>
        </div>
        <!-- /.col-lg-12 -->		
      </div>
    </div>
    <!-- /.container -->

{% include copyright.html %}

{% include foot.html %}